* {
	padding: 0;
	margin: 0
}

html {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	height: 100%;
	overflow-y: scroll
}

body {
	color: #333;
	background: #fff;
	font-family: Microsoft Yahei, sans-serif;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	font-size: 100%
}

ul,
li,
ol {
	list-style: none
}

em,
i {
	font-style: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

strong,
b {
	font-weight: normal
}

dialog {
	border: none;
	padding: 0;
	background: none
}

a,
li,
input,
button,
section,
span,
div {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
	text-decoration: none;
	color: #333
}

a:hover,
a:visited {
	color: #333
}

.wrapper {
	max-width: 720px;
	margin: 0 auto;
	overflow: hidden
}

.btn-green {
	display: inline-block;
	width: 100%;
	height: 3.91667rem;
	line-height: 3.91667rem;
	background-color: #31c722;
	font-size: 1.75rem;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem
}

.btn-green:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.16667rem;
	margin-right: 0.58333rem;
	width: 2.08333rem;
	height: 2.08333rem;
	overflow: hidden;
	background: url('../images/icon50x50-24-se202d582e2.png');
	background-position: 0 0;
	background-size: 2.08333rem 2.08333rem
}

.btn-green:visited,
.btn-green:hover {
	color: #fff
}

.btn-green:active {
	background-color: #1fb110;
	color: #fff
}

.version {
	color: #999;
	font-size: 0.83333rem;
	line-height: 1.5rem
}

.header {
	padding-bottom: 1.16667rem;
	text-align: center
}

.header img {
	display: block;
	width: 100%
}

.header .download {
	width: 77.77778%;
	margin: 0 auto;
	position: relative;
	zoom: 1;
	padding-top: 0.83333rem
}

.header .download .version {
	position: absolute;
	right: 0;
	top: -1rem;
	padding-right: 0.16667rem
}

.header .download .version em {
	margin-left: 0.58333rem
}

.section li {
	overflow: hidden;
	zoom: 1;
	padding-left: 9.16667rem;
	padding-right: 1.5rem;
	margin: 1.16667rem 0
}

.section li .icon {
	float: left;
	width: 7.08333rem;
	margin-left: -7.91667rem
}

.section li .icon img {
	width: 100%
}

.section li .name {
	height: 2.08333rem;
	line-height: 2.08333rem;
	color: #2e8cdb;
	font-size: 1.58333rem;
	padding-top: 0.5rem
}

.section li .name:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.25rem;
	width: 2.08333rem;
	height: 2.08333rem;
	margin-right: 0.33333rem;
	background: url('../images/icon50x50-sa5bd1268de.png');
	background-size: 2.08333rem 8.33333rem
}

.section li .subtit {
	line-height: 1.5rem;
	font-size: 1.16667rem
}

.section li .des {
	margin-top: 0.41667rem;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #999
}

.section li.ord-1 .name:before {
	background-position: 0 0
}

.section li.ord-2 .name:before {
	background-position: 0 -2.08333rem
}

.section li.ord-3 .name:before {
	background-position: 0 -6.25rem
}

.section li.ord-4 .name:before {
	background-position: 0 -4.16667rem
}

.section .download {
	width: 77.77778%;
	text-align: center;
	padding-top: 1.16667rem;
	margin: 0 auto
}

.section .download .version {
	margin-top: 0.41667rem
}

.section .download .version em {
	margin-left: 1.33333rem
}

.section .brief {
	text-align: center;
	margin-top: 1rem
}

.footer {
	margin-top: 1rem;
	height: 3.75rem;
	line-height: 3.75rem;
	background-color: #f1f1f1;
	font-size: 0.875rem;
	color: #999;
	text-align: center
}

.footer .icp {
	margin-left: 1rem
}

@media only screen {
	html {
		font-size: 12px
	}
}

@media only screen and (min-width: 360px) and (max-width: 399px) {
	html {
		font-size: 12px
	}
}

@media only screen and (min-width: 400px) and (max-width: 479px) {
	html {
		font-size: 13px
	}
}

@media only screen and (min-width: 480px) and (max-width: 719px) {
	html {
		font-size: 16px
	}
}

@media only screen and (min-width: 720px) {
	html {
		font-size: 24px
	}
}
